@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #FCFCFC;
  --foreground: #131824;
  --gray: #BAC2D9;
  --gray-dark: #919BB3;
  --gray-darker: #2e323d;
  --primary: #2DCF8E;
  --primary-light: #4ae9a9;
  --primary-lighter: #59f5b6;
  --primary-dark: #1DA56F;
  --primary-darker: #198B5D;
  --secondary: #FFA64A;
  --secondary-light: #ffb86d;
  --secondary-lighter: #ffc485;
  --secondary-dark: #EA9237;
  --secondary-darker: #E18425;
  --danger: #FF5C5F;
  --danger-light: #FF7B7E;
  --danger-lighter: #ff8f91;
  --danger-dark: #F24E50;
  --danger-darker: #F84043;
}

@theme default {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray: var(--gray);
  --color-gray-dark: var(--gray-dark);
  --color-gray-darker: var(--gray-darker);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-lighter: var(--primary-lighter);
  --color-primary-dark: var(--primary-dark);
  --color-primary-darker: var(--primary-darker);
  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);
  --color-secondary-lighter: var(--secondary-lighter);
  --color-secondary-dark: var(--secondary-dark);
  --color-secondary-darker: var(--secondary-darker);
  --color-danger: var(--danger);
  --color-danger-light: var(--danger-light);
  --color-danger-lighter: var(--danger-lighter);
  --color-danger-dark: var(--danger-dark);
  --color-danger-darker: var(--danger-darker);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  --text-3xl: 1.75rem;
  --text-4xl: 2rem;
  --text-5xl: 2.5rem;
  --text-6xl: 3.25rem;
  --text-7xl: 4rem;

  --radius-xs:calc(var(--radius) - 4px);
  --radius-sm:calc(var(--radius) - 2px);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius) + 4px);
  --radius-xl: calc(var(--radius) + 8px);

  --font-title: 'Cal Sans', var(--font-sans);
  --font-sans: 'Outfit', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

  --animate-error: errorFadeIn .2s ease-out;
}

:root {
  --radius: 0.625rem;
  /* --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692); */
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);

  /* --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839); */
  
  /* --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665); */

  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-gray-darker font-sans font-light;
  }
  h1,h2,h3,h4,h5,h6 {
    @apply font-title;
  }

  h1 { @apply text-5xl; }
  h2 { @apply text-4xl; }
  h3 { @apply text-3xl; }
  h4 { @apply text-2xl; }
  h5 { @apply text-xl; }
  h6 { @apply text-lg; }

  .subtitle {
    @apply text-foreground;
  }

  code {
    @apply bg-gray-200/70 px-1.5 py-0.5 rounded-xs font-sans font-normal;
  }
}

@layer utilities {
  .transition-all, .transition-colors, .transition-opacity, 
  .transition-shadow, .transition-transform {
    @apply duration-200;
  }
}

@font-face {
  font-family: 'Cal Sans';
  src: url(./fonts/CalSans-SemiBold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(./fonts/Outfit-Weight.woff2) format('woff2-variations');
}

@keyframes errorFadeIn {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}